@font-face { 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

/****************************** 1. Règles générales ******************************/
* {
    word-wrap: break-word;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Trebuchet, sans-serif;
}

body {
    font-size: 100%;
    line-height: 1.5;
    background-image: url(background-website-01.jpg);
    overflow-y: scroll;
    text-align: center;
}

header, main, footer {
    min-width: 320px;
}

.container {
    width: 96%;
    margin: 0 auto;
    padding: 10px 0;
}

.container > *:not(section) {
    padding: 0 3rem;
}

h1, h2 {
    font-family: MyWebFont;
}

h1 {
    font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

/****************************** 2. HEADER ******************************/
header {
    box-shadow: 0 0 4px 2px #402;
}

header > .container > h1 {
    color: #584;
    text-shadow: 2px 2px 2px #eac6d2, 2px 2px 2px #c1959e, -2px -2px 2px #b05f7e, 0 0 2px #862331, 2px 2px 6px #3c0a0a;
}

header > .container img {
    border: 1px solid #333;
}

/****************************** 3. MAIN ******************************/
main {
    margin: 50px 0;
}

main > .container > section {
    background-color: #8c4450;
    margin-top: 1rem;
    padding: 1rem;
}

/****************************** 4. FOOTER ******************************/
footer {
    background-color: #81b350;
}

/****************************** 5. Média-queries ******************************/
/*************** Pour Ordinateurs ***************/
@media all and (min-width: 992px) {
    /****************************** 1. Règles générales ******************************/
    .container {
        display: flex;
        justify-content: center;
        max-width: 1350px;
    }

    /****************************** 2. HEADER ******************************/
    header > .container {
        align-items: center;
    }

    header > .container > a {
        margin-left: auto;
    }

    /****************************** 3. MAIN ******************************/
    main > .container > .edging {
        border: 2px solid #000;
        border-radius: 10px;
        width: 100px;
        background-color: #409;
    }

    main > .container > section {
        width: calc( (100% - 100px) / 3 );
        margin-top: 0;
        margin-left: 1rem;
    }
}